@import "/src/variables.scss";

.button-default {
    border-radius: 8px;
    padding: .75rem 2rem;
    font-weight: 500;
    font-size: large;

    transition: transform 0.3s ease-in-out;
}

.button-filled {
    background-color: $primary;
    color: $black;
    border: none;
}

.button-outlined {
    border: 2px solid $primary;
    color: $primary;
    background-color: transparent;
}

.button-default:active {
    transform: scale(0.9);
}

.button-default:hover {
    cursor: pointer;
    transform: scale(1.15);
}

@media #{$media-tablet}, #{$media-phone} {
    .button-default:hover, .button-default:active {
        cursor: pointer;
        transform: none;
    }
}