@import "/src/variables.scss";

.card {
  display: flex;
  flex-direction: column;
  justify-content: start;

  border: 0.1rem solid $primary;
  border-radius: 1rem;
  width: 18vw;
  height: auto;

  img {
    margin: 2vw 2vw;
    height: 8rem;
    width: auto;
  }
}

.card-text-container {
  margin: 0 1vw;
  display: block;
}

.card-title {
  margin: 0;
}

.card-text {
  margin: 1rem 0;
}

@media #{$media-tablet} {
  .card {
    width: min(100%, 18rem);
    justify-self: center;
  }
}

@media #{$media-phone} {
  .card {
    width: 90%;
  }
}
