@import "/src/variables.scss";

.card {
  display: flex;
  flex-direction: column;
  justify-content: start;

  border: 0.1rem solid $primary;
  border-radius: 1rem;
  width: 18em;
  height: auto;

  img {
    margin: 1rem 1rem;
    height: 8rem;
    width: auto;
  }
}

.card-text-container {
  margin: 0 1rem;
  display: block;
}

.card-title {
  margin: 0;
}

.card-text {
  margin: 1rem 0;
}
