// colors:
$bg-light: #2c2a2a;
$bg-dark: #1d1c1c;

$primary: #28d6d6;

$white: #ebeeee;
$black: #1d1c1c;

// media-queries:
$media-phone: "(max-width: 460px)";
$media-tablet: "(max-width: 1040px)";

$light-mode: "(prefers-color-scheme: light)";
$dark-mode: "(prefers-color-scheme: dark)";
