// colors:
$bg-light: #2C2A2A;
$bg-dark: #1D1C1C;

$primary: #27B9B9;

$white: #EBEEEE;
$black: #1D1C1C;

// media-queries:
$media-phone: "(max-width: 400px)";
$media-tablet: "(max-width: 850px)";

$light-mode: "(prefers-color-scheme: light)";
$dark-mode: "(prefers-color-scheme: dark)";